.container {
  height: 100vh;
  margin: 0 auto;
  background-color: '#f5f5f5';
}

.footer {
  height: 150px;
  line-height: 72px;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 450;
  margin-left: -5px;
}

.content {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-text {
  font-size: 13px;
  color: #646a73;
}