.box {
  min-width: 350px;
  border-radius: 6px;
  padding: 35px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}

.text-area {
  margin-bottom: 25px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.sub-title {
  font-size: 13px;
  color: #646a73;
}
